body{
    /* background: blue; */
}
.top-left {
    position: absolute;
    top: 14px;
    left: 14px;
}
.top-right {
    position: absolute;
    top: 14px;
    right: 14px;
}
.container {
    margin: 50px auto 0 auto;
    max-width: 700px;
}
.welcome-style {
    text-align: center;

}
.hide {
    display: none;
}